@charset "utf-8";

/* General */
* {
  box-sizing: border-box;
}
.container {
  max-width: 1024px;
  padding: 2rem;
  margin: auto;
}

/* Styles for the div where the map will be */
#map {
  min-height: 400px;
  background-color: #ccc;
}
