@charset "utf-8";

/* General */
* {
  box-sizing: border-box;
}
html {
  font-size: 24px;
}
body {
  padding: 0;
  margin: 0;
}
select {
  font: inherit;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
#map a {
  color: inherit;
}
img {
  /* Not letting the images be wider than the parent width by default  */
  width: 100%;
  border-radius: 5px;
}

/* Styles for the container and grid */
.container {
  max-width: 1024px;
  padding: 1rem;
  margin: auto;
}
.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Styles for links */
.inline-link {
  display: inline-block;
  padding: 2px 0;
  color: rgba(20, 20, 20, 1);
  /* Transparent border top to animate it on hover and focus */
  border-bottom: 2px solid rgba(20, 20, 20, 1);
  border-top: 2px solid rgba(20, 20, 20, 0);
  transition: all 0.3s linear;
  /* Scale it down a little so we can rescale it to 1 on hover/focus */
  transform: scaleX(0.95);
}
.inline-link:hover,
.inline-link:focus {
  border-top-color: rgba(20, 20, 20, 1);
  transform: scaleX(1);
}

/* Styles for skip link */
.skip-link {
  position: absolute;
  background-color: white;
  z-index: 1;
  margin: 0.5rem;
  border-radius: 5px;

  /* Hidden until it receives focus */
  height: 0;
  overflow: hidden;
  transition: all 0.1s ease;
}
.skip-link:focus {
  height: auto;
  padding: 0.5rem;
  border: 2px solid black;
  box-shadow: 3px 5px 10px -3px black;
}

/* Styles for the header */
header {
  background-image: linear-gradient(
    to bottom,
    rgb(237, 237, 237) 0%,
    rgb(255, 255, 255) 100%
  );
}
header h1 {
  text-align: center;
}

/* Styles for the footer */
footer {
  background-image: linear-gradient(
    to top,
    rgb(237, 237, 237) 0%,
    rgb(255, 255, 255) 100%
  );
  text-align: center;
}

/* Styles for the div where the map will be */
#map {
  min-height: 300px;
  background-color: #ccc;
}

/*** Styles specific for index.html ***/

/* Styles for the filters */
.filter-options,
.filter-group {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.filter-group {
  text-align: center;
  margin: 0.5rem auto;
}
.filter-label {
  margin: 0.5rem;
}
@media screen and (min-width: 550px) {
  .filter-group {
    flex-direction: row;
  }
}
@media screen and (min-width: 750px) {
  .filter-options {
    flex-direction: row;
    justify-content: space-around;
  }
  .filter-group {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .filter-group {
    flex-direction: row;
  }
}

/* Styles for the restaurant preview cards */
.restaurant-info-preview {
  /* 
  * Flex card and space-between elements so we always have the name at the top
  * and the link at the bottom 
  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  margin: 1rem 0.1rem;
  padding: 1rem;
  /* Making it look like a card */
  border-radius: 5px;
  box-shadow: -3px 4px 10px 2px #ddd, 1px -1px 10px 0 #ddd;
}
.restaurant-info-preview .restaurant-info-header {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-info-preview .restaurant-preview-name {
  margin: 0;
}
.restaurant-info-preview .restaurant-preview-details-link {
  display: block;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  /* Have some animation when the user focus or hover the link */
  transition: opacity 0.3s, box-shadow 0.3s;
}
.restaurant-info-preview .restaurant-preview-details-link:hover,
.restaurant-info-preview .restaurant-preview-details-link:focus {
  opacity: 0.8;
  box-shadow: 0px 9px 5px -7px #333;
}

/*** Styles specific for restaurant.html ***/

/* Styles for the breadcrumb */
.breadcrumb-nav.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: #fff;
  box-shadow: 1px -1px 10px 0 #ddd;
}
.breadcrumb-nav > ul > li {
  display: inline-block;
}
.breadcrumb-nav > ul > li:not(:first-child)::before {
  content: ' / ';
}

/* Styles for the restaurant schedule */
#restaurant-hours {
  display: block;
  overflow-y: hidden;
}
#restaurant-hours.schedule-expanded {
  max-height: none;
}
#restaurant-hours.schedule-collapsed {
  max-height: 250px;
}
#restaurant-hours > tr {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem auto;
}
#restaurant-hours > tr > td {
  flex: 1 1 100%;
  text-align: center;
}
.toggle-schedule {
  background: inherit;
  border: inherit;

  /* Transparent border bottom to animate it on hover and focus */
  border-top: 2px solid rgba(20, 20, 20);
  border-bottom: 2px solid rgba(20, 20, 20, 0);
  font-size: 0.8rem;
  color: rgba(20, 20, 20);
  /* Scale it down a little so we can rescale it to 1 on hover/focus */
  transform: scaleX(0.95);

  display: inline-block;
  text-align: center;
  min-width: 100%;
  padding: 5px 0;
  margin: 1rem auto;

  transition: all 0.3s linear;
}
.toggle-schedule:hover,
.toggle-schedule:focus {
  border-bottom-color: rgba(20, 20, 20, 1);
  transform: scaleX(1);
}

/* Styles for the restaurant info cards */
#restaurant-container {
  display: grid;
  justify-items: stretch;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: 3rem 1fr;
  grid-template-areas:
    'fav-btn header'
    'img img'
    'type type'
    'address address'
    'schedule schedule';
}
#restaurant-container > button {
  grid-area: fav-btn;
}
#restaurant-container > h2 {
  grid-area: header;
}
#restaurant-container > img {
  grid-area: img;
  margin: auto;
  box-shadow: -3px 4px 10px 2px #ddd, 1px -1px 10px 0 #ddd;
}
#restaurant-container > div {
  /* Making them look like a card */
  border-radius: 5px;
  box-shadow: -3px 4px 10px 2px #ddd, 1px -1px 10px 0 #ddd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0.1rem;
  padding: 1rem;
}
.cuisine-type-container {
  grid-area: type;
}
.address-container {
  grid-area: address;
}
.schedule-container {
  grid-area: schedule;
}
#restaurant-container > div > h3 {
  margin: 0;
}

@media screen and (min-width: 600px) {
  #restaurant-container {
    grid-template-columns: 3rem 1fr 1rem 1fr;
    grid-template-areas:
      'fav-btn header header header'
      'img img img img'
      'type type . address'
      'schedule schedule schedule schedule';
  }
}
@media screen and (min-width: 700px) {
  #restaurant-container {
    grid-template-columns: 3rem 1fr 1rem 1fr;
    grid-template-areas:
      'fav-btn header header header'
      'img img . schedule'
      'type type . schedule'
      'address address . schedule';
  }
  #restaurant-container .schedule-container {
    margin-top: 0;
  }
  .schedule-container > #restaurant-hours.schedule-expanded,
  .schedule-container > #restaurant-hours.schedule-collapsed {
    max-height: none;
  }
  .schedule-container > .toggle-schedule {
    display: none;
  }
}

/* Styles for the favorite button */
.favorite-btn span {
  display: inline-block;
  font-size: 2rem;
  transform: scale(0.8) rotate(0);
  transition: all 0.3s ease-in-out;
}
.favorite-btn:hover > span {
  transform: scale(1) rotate(360deg);
}
.favorite-btn.favorite > span {
  color: #0078a8;
  box-shadow: 1px 1px 10px -1px #0078a8, -1px -1px 10px -1px #0078a8;
  border-radius: 100%;
  padding: 0 0.2rem;
}

/* Styles for the reviews */
.review {
  box-shadow: -3px 4px 10px 2px #ddd, 1px -1px 10px 0 #ddd;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem auto;
}
.review > .review-comment {
  font-size: 0.9rem;
}

@media screen and (min-width: 400px) {
  .review > .review-comment {
    font-size: 1rem;
  }
}

@media screen and (min-width: 550px) {
  .review {
    display: flex;
    flex-wrap: wrap;
  }
  .review > .review-date {
    flex-grow: 1;
    text-align: right;
  }
  .review .reviewer-name,
  .review .review-comment {
    flex: 1 0 100%;
  }
  .review .review-comment {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
  }
  .review .reviewer-name {
    order: 1;
  }
}

/* Styles for the review form */
.form-submit-review label {
  display: block;
  margin: 0.5rem;
}
.form-submit-review label:first-child {
  display: flex;
  align-items: center;
}
.form-submit-review input,
.form-submit-review select,
.form-submit-review button,
.form-submit-review textarea {
  font-size: inherit;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid black;
}
.form-submit-review select {
  min-width: 2.3rem;
  margin-left: 0.5rem;
}
.form-submit-review input {
  min-width: 100%;
}
.form-submit-review textarea {
  min-height: 10rem;
  min-width: 100%;
}
.form-submit-review button {
  min-width: 100%;
  border: 1px solid black;
  transition: opacity 0.3s, box-shadow 0.3s;
}
.form-submit-review button:hover,
.form-submit-review button:focus {
  opacity: 0.8;
  box-shadow: 0px 9px 5px -7px #333;
}